.container {
    max-width: 1425px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

.active {
    color: $blue;
    border-bottom: 6px solid $blue;
}

.button {
    padding: 10px 50px;
    background-color: $blue;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.bar {
    height: 30px;
    background-color: $blue;
}
